form {
  margin: 12px 400px;
  /* border: 1px solid gray; */
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 30px;
}
main {
  margin-bottom: 430px;
}
.btn-register {
  margin-top: 30px;
}
