* {
  margin: 0;
  padding: 0;
}
main {
  width: 1330px;
  margin: auto;
}
.item {
  display: flex;

  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  /* justify-content: center; */
}
.item .right img {
  width: 500px;
}
.item .left {
  margin-left: 100px;
  margin-top: 100px;
}
.btn {
  padding: 10px;
}
