<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h1>List products</h1>
      <table>
        <thead>
          <tr class="table-secondary">
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          @for(p of list; track p.name){
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.des }}</td>
            <td class="image"><img src="{{ p.image }}" alt="" /></td>
            <td>
              <button
                class="btn btn-primary w-100"
                [routerLink]="['/edit', p.id]"
              >
                Edit</button
              ><button class="btn btn-danger w-100" (click)="onDelete(p.id)">
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <!-- <div class="add">
        <button  class="btn btn-outline-success" >Thêm sản phẩm</button>
      </div> -->
    </div>
  </body>
</html>
